.App {
  text-align: center;
  text-decoration: 'none',
}

a:-webkit-any-link{
  text-decoration: 'none',
}
.oneDiv{
  height: 50px;
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-input{
  position: absolute;
  top: 150%;
  left: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

button{
  position: absolute;
  top: 180%;
  left: 49%;
  width: 100px;
  height: 50px;
  border-radius: 50% 20% / 10% 40%;
  background-color: #0C8AA3;
  color: aliceblue;
}

input{
  text-align: end;
  width: 200px;
  border-radius: 15px;
  padding: 10px;
  margin: 80px;
}

.divResult{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.resultat{
  padding: 20px;
  background-color: #0C8AA3;
  color: white;
  border-radius: 150px;
  border: 10px solid #D1D2D4;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

.insuffisance-ponderale {
  color: rgb(238, 104, 2);
}

.corpulence-normale {
  color: green;
}

.surpoids{
  color: rgb(181, 181, 3);
}

.obesite-modere{
  color: rgb(181, 128, 3);
}

.obesite-severe{
  color: rgb(199, 73, 0);
}

.obesite-morbide{
  color: rgb(253, 0, 0);
}

.custom-table {
  width: 80%; /* Fait en sorte que le tableau prenne toute la largeur de son conteneur */
  border-collapse: collapse; /* Pour fusionner les bordures de cellules */
  border: 2px solid #ddd; /* Ajoute une bordure au tableau */

}

.custom-table th, .custom-table td {
  border: 1px solid #ddd; /* Ajoute une bordure aux cellules du tableau */
  padding: 8px; /* Ajoute un espacement à l'intérieur des cellules */
}

.custom-table th {
  background-color: #f2f2f2; /* Couleur de fond pour la ligne d'en-tête */
  text-align: left;
}

/* Style pour les lignes paires du tableau (facultatif) */
.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}


/* Styles pour les écrans de largeur moyenne (par exemple, tablettes) */
@media screen and (max-width: 768px) and (max-width: 1024px){
  .app-input {
    top: 70%;
    left: 30%;
  }
  h3{
    font-size: 12px;
  }
  input{
    text-align: end;
    width: 100px;
    border-radius: 15px;
    padding: 5px;
    margin: 30px;
  }
  button{
    top: 83%;
    left: 49%;
    width: 90px;
    height: 30px;
   
  }
}

/* Styles pour les écrans étroits (par exemple, smartphones) */
@media screen and (max-width: 480px) {
  .app-input {
    .app-input {
      top: 70%;
      left: 30%;
    }
    h3{
      font-size: 12px;
    }
    input{
      text-align: end;
      width: 100px;
      border-radius: 15px;
      padding: 5px;
      margin: 30px;
    }
  }
}